<p>
  
  <mat-toolbar color="primary">
   
    <span>Angular Material Components Demo</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<mat-tab-group>
  <h1>Patrick Januel Mariano</h1>
  <mat-tab label="Date Picker"> 
    <app-datepicker></app-datepicker>
  </mat-tab>
  <mat-tab label="Badge">
    <app-badge></app-badge>
  </mat-tab>
  <mat-tab label="Chips"> 
    <app-chips></app-chips>
   </mat-tab>
  <mat-tab label="Spinner"> 
    <app-spinner></app-spinner>
  </mat-tab>
  <mat-tab label="Card"> <app-card></app-card> </mat-tab>
</mat-tab-group>





